html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.bd{
	background-color: black;
	font-family: 'Nunito', sans-serif;
}
.c1{
	font-size: 1.5rem;
	font-weight: 400;
}
#blurb h2{
	color: black;
	font-weight: 600;
	font-size: 2rem;
}
#blurb p{
	color: white;
	font-weight: 400;
	font-size: 1.25rem;
	line-height: 2;
}
.mar{
	margin-top: 100px;
	
}
#navmain .navbar-brand {
	color: #484848;
	font-weight: 800;
	font-size: 2.25rem;
}
#navmain .navbar-brand:hover {
	color: #C00000;
	text-shadow: 1px 1px 2px;
}
#navmain{
	font-size: 1.5rem;
	font-weight: 100;
	background: #F8F8F8; 
}
#navmain .nav-link{
	color: #484848;

}
#navmain .nav-link:hover{
	color: #C00000;
	text-shadow: 1px 1px 3px;	
}
.navbar.scrolled{
	background: red;
	transition: background 1s;
}
#head h1{
	font-weight: 500;
	font-size: 2.5rem;
}
.ho:hover{
	color: #E8E8E8;
	font-size: 1.15rem;
	text-shadow: 1px 1px 8px;
}
.ho{
	color: white;
	font-size: 1rem;
	font-family: 'Yeon Sung', cursive;
}
.ht{
	font-size: 2rem;
	font-weight: 700;
}
.ci{
	font-size: 1.5rem;
	font-weight: 300;
}
@media (max-width: 1200px){
#head h1{
	font-weight: 100;
	font-size: 1.5rem;
}	
}

.imgaq{
	width: 100%;
    height: 60vmax;
    object-fit: cover;
}

.slid{
	color: white;
	font-size: 1.18rem;
}

.slid:hover{
	font-size: 1.25rem;
	color: thistle;
	font-weight: 700;
	text-shadow: 0px 0px 2px #A9A9A9, .5px .5px 3px gray;
}

.cap{
	font-size: 2.7vmax;
	font-weight:500; 
	line-height: 0.7;
}

.logo{
	font-size: 2.3vmax;
	font-weight:500;
}

.smood{
	font-weight: 600;
	font-family: 'Inconsolata', monospace;
}
.binh{
	font-family: 'Lobster Two', cursive;
}
.nser:hover{
	font-size: 1.5rem;
}

.choose{
	font-family: 'Inconsolata', monospace;
	font-size: 2rem;
	font-weight: 500;
}
.foo{
	margin-right:0;
	padding: 0;
}
.foot{
	background-color: #505050;
	font-family: 'Inconsolata', monospace;
	padding: 20px 5px 20px 10px;
}
.wanna{
	font-family: 'Special Elite', cursive;
}